h1 {
    color: greenyellow;
    font-size: 20px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
  }
#nicolas{
    color: aqua;
    font-size: 20px;
    border: violet;
}
.normal {
  width: 250px;
  border: 1px solid #000;
}